.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 0;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 0 20px;

  a {
    color: hsl(var(--foreground));
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    display: inline-block;
  }

  p {
    margin: 0px;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    font-size: 24px;
    padding: 5px 0;
    font-weight: 350;
  }
}

@media only screen and (min-width: 640px) {
  .body {
    gap: 16px;

    p {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    gap: 20px;

    p {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .body {
    gap: 24px;

    p {
      font-size: 24px;
    }
  }
}
