.nav {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    .wrapper {
      margin-bottom: 0px;
      justify-content: center;
    }
  }
}
